{{>j_projectPage/projectTop}}
<h3>인사평가가능리스트 출력</h3>

<table>
    <thead>
    <tr>
        <th>no.</th>
        <th>프로젝트명</th>
        <th>회사명</th>
        <th>규모</th>
        <th>필요인원</th>
        <th>상태</th>
        <th>시작일</th>
        <th>종료일</th>
    </tr>
    </thead>

    <!--리스트 출력 js처리-->
    <tbody id="projectList">
        <tr>
            <th>${result.pjno}</th>
            <td><a href="/projectPage/detail?pjno=${result.pjno}">${result.title}</a></td>
            <td>${result.compannyname}</td>
            <td>${result.price}</td>
            <td>${result.rank1_count + result.rank2_count + result.rank3_count}</td>
            <td>${result.state==0 ? "진행전" : (result.state==1 ? "진행중" : "진행완료")}</td>
            <td>${result.start_date}</td>
            <td>${result.end_date}</td>
        </tr>
    </tbody>
</table>

<!--페이지네이션-->
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm">

    </ul>
</nav>

<script src="/js/j_projectPage/perform.js"></script>
{{>j_projectPage/projectBottom}}