{{>j_projectPage/projectTop}}
<h3>인사평가가능리스트 출력</h3>

<table>
    <thead>
    <tr>
        <th>no.</th>
        <th>프로젝트명</th>
        <th>회사명</th>
        <th>규모</th>
        <th>시작일</th>
        <th>종료일</th>
        <th>평가현황</th>
    </tr>
    </thead>

    <!--리스트 출력 js처리-->
    <tbody id="projectList">


    </tbody>
</table>

<!--페이지네이션-->
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm">

    </ul>
</nav>

<script src="/js/j_projectPage/perform.js"></script>
{{>j_projectPage/projectBottom}}