{{>j_projectPage/projectTop}}
<!--검색-->
<!--검색기준-->
<select>
    <option>프로젝트명</option>
    <option>회사명</option>
    <option>규모</option>
    <option>필요인원</option>
    <option>상태</option>
    <option>시작일</option>
    <option>종료일</option>
</select>

<input type="text" />
<button type="button">검색</button>

<!--프로젝트 전체 출력-->
<table>
    <thead>
        <tr>
            <th>no.</th>
            <th>프로젝트명</th>
            <th>회사명</th>
            <th>규모</th>
            <th>필요인원</th>
            <th>상태</th>
            <th>시작일</th>
            <th>종료일</th>
        </tr>
    </thead>

    <tbody id="projectList">

    </tbody>
</table>
<script src="/js/j_projectPage/projectPage.js"></script>
{{>j_projectPage/projectBottom}}


