{{>headerfooter/header}}
<link href="/css/projectPage.css" rel="stylesheet">
<!--프로젝트 전체 wrap-->
<div id="j_projectWrap">
    <!--사이드바-->
    <div id="j_projectSideWrap">
        <ul id="j_pjMainSide">
            <li> <a href="/projectPage/"> 프로젝트 보기</a> </li>
            <li> <a href="/projectPage/insert">프로젝트 등록 </a> </li>
            <li><a href="/projectPage/perform"> 프로젝트 평가 관리 </a></li>
            <li> <a href="/sales/list">등록된 프로젝트리스트</a></li>
        </ul>
    </div>

    <!--================ main 구역 =================-->
    <div id="projectMainView">