{{>j_projectPage/projectTop}}

<select class="saleslist">


</select>
<form id="insertProjectData">
    <div>start_date : <input type="date" class="insert_start_date" name="start_date" /> </div>
    <div>end_date : <input type="date" class="insert_end_date" name="end_date" /> </div>
    <div>rank1_count : <input type="number" class="insert_rank1_count" name="rank1_count" value="0" /> </div>
    <div>rank2_count : <input type="number" class="insert_rank2_count" name="rank2_count" value="0"/> </div>
    <div>rank3_count : <input type="number" class="insert_rank3_count" name="rank3_count" value="0"/> </div>
    <div>title : <input class="insert_title" name="title" /> </div>
    <div>request : <textarea class="insert_request" name="request" ></textarea> </div>
    <div>note : <textarea class="insert_note" name="note" > </textarea></div>
    <div>compannyname : <input class="insert_compannyname" name="compannyname" /> </div>
    <div>state :
        <select class="insert_state" name="state">
            <option value="0"> 진행전 </option>
            <option value="1"> 진행중 </option>
            <option value="2"> 진행완료 </option>
        </select>
    </div>
    <div>price : <input class="insert_price" name="price" /> </div>
</form>

<script src="/js/sales/sales.js"></script>
{{>j_projectPage/projectBottom}}