{{>headerfooter/header}}
<div id="index_form">
    <div class="container">
        <h3> 글쓰기 페이지 </h3>
            제목     <input id="pjno" type="text"/> </br>
            내용     <textarea class="list1"></textarea> </br>
            첨부파일 <input class="list1" type="text"/> </br>
            내용     <textarea class="list2"></textarea> </br>
            첨부파일 <input class="list2" type="text"/> </br>
            내용     <textarea class="list3"></textarea> </br>
        내용     <textarea class="list3"></textarea> </br>
            첨부파일 <input class="list3" type="text"/> </br>
            <button onclick="onWrite()" type="button">쓰기</button>
    </div>
</div>
<script src="/js/project/recproject.js"></script>
{{>headerfooter/footer}}

