{{>headerfooter/header}}
<div id="index_form">
    <div class="container">
        <div class="s_check1">

        </div>
        <div class="s_check2">

        </div>
        <div class="s_check3">

        </div>
        <div class="selected">
            안녕
        </div>
        <button type="button" onclick="s_doPost()"> 전송 </button>
    </div>
</div>
<script src="/js/project/recproject.js"></script>
{{>headerfooter/footer}}

