{{>headerfooter/header}}

<div id="k_container">
    <div id="k_employeeSideWrap">
        <ul id="k_employeeSide">
            <li><a href="#">사원보기</a></li>
            <li><a href="/signup">사원등록</a></li>
        </ul>
    </div>
    <div id="k_employee">
        <!--<table>
            <thead>
            <tr>
                <th>사원번호</th>
                <th>이름</th>
                <th>부서</th>
                <th>전화번호</th>
                <th>입사날짜</th>
            </tr>
            </thead>
            <tbody id="k_eList">

            </tbody>
        </table>-->
        사원 목록
    </div>

</div>
<script src="/js/employee.js"></script>

{{>headerfooter/footer}}