{{>headerfooter/header}}

<div id="k_container">
    <div id="k_employeeSideWrap">
        <ul id="k_employeeSide">
            <li><a href="#">사원보기</a></li>
            <li><a href="/signup">사원등록</a></li>
        </ul>
    </div>
    <div id="k_employee">
        개별 사원 정보
        <div></div>
        <div>
            경력사항
            <!--<button onclick="OnCareerPlus()" type="button">경력 편집</button>
            <button onclick="OnCareer()" type="button">경력 등록</button>
-->          <div class="table">
                <div class="thead">
                    <div class="tr">
                        <div class="th">회사명</div>
                        <div class="th">입사날짜</div>
                        <div class="th">퇴사날짜</div>
                        <div class="th">담당업무</div>
                        <div class="th">경력증명서</div>
                        <div class="th"><button onclick="OnCareerPlus()" type="button">경력 추가</button></div>
                    </div>
                </div>
                <div class="tbody careerBox">
                    <!-- <tr>
                         <td><input type="text"></td>
                         <td><input type="date"></td>
                         <td><input type="date"></td>
                         <td><input type="text"></td>
                         <td><input type="file"></td>
                     </tr>-->
                </div>
            </div>
            <div class="cBtn">

            </div>

        </div>

        <button onclick="OnLicensePlus()" type="button">자격증 추가</button>
        <div class="table">
            <div class="thead">
                <div class="tr">
                    <div class="th">자격증명</div>
                    <div class="th">취득일</div>
                </div>

            </div>
            <div class="tbody licenseBox">
                <!-- <tr>
                     <td>
                       <select>
                           <option value="${license.lno}">${license.lname}</option>
                       </select>
                   </td>
                    <td><input type="date"></td>
                </tr>-->
            </div>
            <div class="lBtn">

            </div>
        </div>

    </div>

</div>
<script src="/js/employee/employeeView.js"></script>

{{>headerfooter/footer}}