{{>headerfooter/header}}


<!--프로젝트 전체 wrap-->
<div id="j_projectWrap">
    <!--사이드바-->
    <div id="j_projectSideWrap">
        <ul id="j_pjMainSide">
            <li><a href="/employee">사원보기</a></li>
            <li><a href="/signup">사원등록</a></li>
        </ul>
    </div>
    <!--================ main 구역 =================-->
    <div id="projectMainView">