{{>headerfooter/header}}

<div id="k_container">
    <div id="k_employeeSideWrap">
        <ul id="k_employeeSide">
            <li><a href="/employee">사원보기</a></li>
            <li><a href="/signup">사원등록</a></li>
        </ul>
    </div>
