#j_projectWrap  *{
    border: 1px red solid;    
}

#j_projectWrap{
    width: 960px;
    height: 550px;
    margin: 0 auto;
    border: 1px red solid;
    display: flex;
}
#j_projectSideWrap{
    width: 170px;
    height: 550px;
}
#j_pjMainSide{
    margin: 50px auto;
    padding: 0;
    width: 130px;
}
.searchPrice{
    width : 100px;
}