

#j_projectWrap{
    width: 960px;
    height: 550px;
    /*border: 1px red solid;*/
    display: flex;
}
#j_projectSideWrap{
    width: 150px;
    border : 1px solid #e8e8e8;
    height: 550px;
    margin-right: 20px;
}

#j_projectSideWrap > ul{
    margin-top: 10px;
    font-size: 20px;
}
#j_projectSideWrap > ul > li{
    margin-top: 20px;
    margin-left:10px
}
#j_pjMainSide{
    margin: 0px auto;
    margin-right: 30px;
    padding: 0;
    width: 130px;
    color: black;
    margin-left: 10px;
}
.searchPrice{
    width : 100px;
}

#projectMainView{
    margin-top: 10px;
    min-width:750px;
    height:550px;
}