{{>mypages/mypageTop}}
        <button onclick="goToWork()" type="button">출근</button>
        <button onclick="leaveWork()" type="button">퇴근</button>
        <div id="calendar">

        </div>
    </div>

</div>



<!--<script src="/js/mypages/loginCheck.js"></script> &lt;!&ndash; 로그인 체크 js &ndash;&gt;-->
<script src="/js/mypages/fullcalendar.js"></script>
{{>mypages/mypageBottom}}
