{{>headerfooter/header}}

<div id="p_container">
    <!-- 왼쪽 사이드 메뉴    -->
    <div id="p_mypageSideWrap">
        <ul id="p_mypageSide">
            <li><a href="/mypage">내정보 보기</a></li>
            <li><a href="/mypage/project">내 프로젝트</a></li>
            <li><a href="/mypage/attendance">출결 관리</a></li>
            <li><a href="/mypage/attendance/list">출결 조회</a></li>
        </ul>
    </div>
    <!--  중앙 내용 출력 부분   -->
    <div id="p_attendanceWrap">
        <div id="p_attContent">
            <!--  출근 조회 내용 출력 부분          -->
        </div>
    </div>

</div>



<script src="/js/mypages/loginCheck.js"></script> <!-- 로그인 체크 js -->
<script src="/js/mypages/attendance.js"></script>
{{>headerfooter/footer}}