{{>headerfooter/header}}
<div id="p_container">
    <div id="p_mypageSideWrap">
        <ul id="p_mypageSide">
            <li><a href="#">내정보 보기</a></li>
            <li><a href="#">내 프로젝트</a></li>
            <li><a href="#">출결 관리</a></li>
            <li><a href="#">일정 관리</a></li>
        </ul>
    </div>
    <div id="p_dataViewWrap">
            <h3> 사원 정보 수정 페이지 </h3>
            이름 : <input class="name" type="text" id="test" value="" />
            비밀번호 : <input class="pw" type="text" id="test" value="" />
            이메일 : <input class="email" type="text" id="test" value="" />
            전화번호 : <input class="phone" type="text" id="test" value="" />
            주소 : <input class="address" type="text" id="test" value="" />
        <div class="p_UbtnBox">
        </div>
    </div>
</div>

<script src="/js/mypages/mypageUpdate.js"></script>
{{>headerfooter/footer}}