{{>headerfooter/header}}

<div id="p_container">
    <!-- 왼쪽 사이드 메뉴    -->
    <div id="p_mypageSideWrap">
        <ul id="p_mypageSide">
            <li><a href="/mypage">내정보 보기</a></li>
            <li><a href="/mypage/project">내 프로젝트</a></li>
            <li><a href="/mypage/attendance">출결 관리</a></li>
            <li><a href="#">출결 조회</a></li>
        </ul>
    </div>
    <!--  중앙 내용 출력 부분   -->
    <div id="p_myProjectdateWrap">
        <div id="p_myProjectdate">
            <!--  사원 데이터 출력 표시    -->

        </div>
    </div>
</div>



<script src="/js/mypages/myProject.js"></script>
{{>headerfooter/footer}}

<!--
            <div><span class="viewTitle">사원 명 :</span><span class="id"></span></div>
            <div><span class="viewTitle">프로젝트 번호 :</span><span class="pjno"></span></div>
            <div><span class="viewTitle">시작 날짜 :</span><span class="start_date"></span></div>
            <div><span class="viewTitle">종료 날짜 :</span><span class="end_date"></span></div>
            <div><span class="viewTitle">프로젝트 명 :</span><span class="title"></span></div>
            <div><span class="viewTitle">회사 명 :</span><span class="compannyname"></span></div>
            <div><span class="viewTitle">프로젝트 현재 상황 :</span><span class="state"></span></div>


-->