{{>salary/h}}

<div id="index_form">
    <div class="container">
        <div class="test"></div>
    </div>
</div>
<button type="button" onclick="doPost()"> 확인 </button>
<script src="/js/salary/salarylist.js"></script>


{{>salary/f}}